extends layout
block contenido
    .contenido-principal
        h1 #{nombrePagina} - #{proyecto.nombre}
        //TODO - Formulario aqui
        form.agregar-tarea(action=`/proyectos/${proyecto.url}` method="POST" )
            .campo
                label(for="tarea") Tarea: 
                input.nombre-tarea(type="text" name="tarea" placeholder="Nombre Tarea") 
            .campo.enviar
                input.boton.nueva-tarea(type="submit" value="Agregar")
        //TODO - Lista de pendientes
        //pre=vardump(tareas)
        .listado-pendientes
            ul 
                if tareas.length
                    each tarea in tareas
                        li.tarea(data-tarea= tarea.id)
                            p= tarea.tarea
                            .acciones
                                if tarea.estado
                                    i.far.fa-check-circle.completo
                                else 
                                    i.far.fa-check-circle
                                
                                i.fas.fa-trash-alt
                else 
                    p No hay tareas en este Proyecto.                
                    
        //barra de avance del proyecto       
        .avance
            h2 progreso del proyecto
            #barra-avance.barra-avance
                #porcentaje.porcentaje
        //acciones que se puenden realizar
        .contenedor-acciones
            a(href=`/proyecto/editar/${proyecto.id}` class="boton" ) Editar Proyecto
            //con data-proyecto-url hacemos referencia a la url del proyecto
            button#eliminar-proyecto(data-proyecto-url=proyecto.url type="button" class="boton eliminar") Eliminar

