mixin crearUsuarios(nombrePagina, ruta)
    doctype html
    html(lang="es")
        head
            include ../partials/header
            meta(name='google-signin-client_id' content='YOUR_CLIENT_ID.apps.googleusercontent.com')
            link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')

        body.login
            .contenedor-formulario
                h1=`${nombrePagina}`

                if locals.mensajes
                    .alertas
                        each categoria in Object.keys(locals.mensajes)
                            each  error in mensajes[categoria]
                                .alerta(class=`${categoria}`)
                                    p= error
                form#formulario.caja-login(method="POST" action=`/${ruta}`) 
                    .campo
                        label(for="email") Email:
                        input(type="email" name="email" placeholder="Ingresa un email valido" value= email)
                    
                    if ruta != "restablecer-password"
                    
                        .campo 
                            label(for="password") Contraseña:
                            input(type="password" name="password" placeholder="ingresa una contraseña")

                        .campo.enviar
                            input.boton(type="submit" value=`${ruta === "iniciar-sesion" ? "Iniciar Sesion":"Crear cuenta"}`)
                    
                    else 
                        .campo.enviar
                            input.boton(type="submit" value="Restablecer")
                        
                    if ruta === "iniciar-sesion"
                        .campo
                            div#customBtn.customGPlusSignIn
                                span.icon
                                span.buttonText Google
                    
                    .campo.acciones
                        if ruta === "iniciar-sesion"
                            a(href="/nueva-cuenta") no tienes una cuenta?Registrate!
                        
                        if ruta === "iniciar-sesion"
                            a(href="/restablecer-password") Reestablecer contraseña
                        else 
                            a(href=`/iniciar-sesion`) Inicia Sesion!
            script(src="/dist/bundle.js")
            script(src='https://apis.google.com/js/platform.js?onload=renderButton' async= defer)
                
